<!doctype>
<html>
    <head>
        <title>Blog Entry</title>
        <style>
            .error {
                color: red;
            }
            .title {
                text-align: center;
            }
            .user-account {
                text-align: right;
            }
        </style>
    </head>
<body>

    <nav>
        
            
            <span><a href='/'>Home</a></span>
            <span><a href='/blog'>All Posts</a></span>
            <span><a href='/newpost'>New Post</a></span>
    </nav>
    <div class='user-account'>
            <span><a href='/login'>Login</a></span>
            <span><a href='/logout'>Logout</a></span>
        
    </div>

    {% block content %}
    {% endblock %}

</body>
</html>