<!doctype>
<html>

<head>
    <title>Blog Entry</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">


</head>

<body>

    <nav id="navigation">


        <span>
            <a href='/'>Home</a>
        </span>
        <span>
            <a href='/blog'>All Posts</a>
        </span>
        <span>
            <a href='/newpost'>New Post</a>
        </span>


        <span>
            <a class="right" href='/login'>Login</a>
        </span>
        <span>
            <a class="right" href='/logout'>Logout</a>
        </span>
    </nav>
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large">
            <i class="material-icons cyan">add</i>
        </a>
    </div>
    <h1>Hello</h1>


    {% block content %} {% endblock %}
    <hr />
    <br />
    <hr />
    <br />
    <hr />
    <br />
    <hr />
    <br />
    <hr />
    <br />
    <hr />
    <br />
    <hr />
    <br />
    <hr />
    <br />
    <hr />
    <br />
    <hr />
    <br />
    <hr />
    <br />
    <hr />
    <br />
    <hr />
    <br />
    <hr />
    <br />

    <script type="text/JavaScript" src="{{ url_for('static', filename = 'js/stickyNav.js') }}"></script>
</body>

</html>