<!doctype>
<html>
    <head>
        <title>Blog Entry</title>
        <style>
            .error {
                color: red;
            }
            .title {
                text-align: center;
            }
            .user-account {
                float: right;
            }
        </style>
    </head>
<body>

    <nav>
        <ul class="user-account">
            <li><a href='/login'>Login</a></li>
            <li><a href='/logout'>Logout</a></li>
        </ul>
        <ul>
            <li><a href='/'>Home</a></li>
            <li><a href='/blog'>Main Blog Page</a></li>
            <li><a href='/newpost'>Add a New Entry</a></li>
        </ul>
    </nav>

    {% block content %}
    {% endblock %}

</body>
</html>