{% extends "base.html" %}

{% block content %}
<h1>Log in</h1>

<form action="/login" method="post">
    <table>
        <tr>
            <td><label for="username">Username</label></td>
            <td>
                <input name="username" type="username" value="{{ username }}">
                {% if name_error %}
                    <span class='error'>{{ name_error }}</span>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input name="password" type="password">
                {% if pass_error %}
                    <span class='error'>{{ pass_error }}</span>
                {% endif %}
            </td>
        </tr>
    </table>
    <input type="submit" value="Login">
</form>
<p>Don't have an account? <a href="/signup">Create One!</a></p>
{% endblock %}


<!-- Variables need changed to match blogz application. -->